.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding: 3em 4em 9em;
    background-color: var(--cream);
}

.contacts__info {
    display: flex;
    justify-content: space-between;
    gap: 6em;
    width: 100%;
}

.contacts__title {
    width: 50%;
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeInLeft 0.6s ease-out forwards;
}

.contacts__details {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.contacts__group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    opacity: 0;
    animation: fadeInUp 0.6s ease-out forwards;
}

.contacts__group:nth-child(2) {
    animation-delay: 0.2s;
}

.contacts__messenger {
    display: flex;
    gap: 1em;
}

.contacts__icon {
    --size: 1.8em;
    width: var(--size);
    heigh: var(--size);
}

.contacts__text {
    font-size: 1.2em;
    line-height: 1.4;
}

.contacts__newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6em;
    width: 100%;
    padding: 4em;
    background-color: white;
    opacity: 0;
    animation: scaleIn 0.6s ease-out forwards;
    animation-delay: 0.3s;
}

.contacts__image {
    width: 50%;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    gap: 1.7em;
    width: 50%;
}

.contacts__form-title {
    font-size: 1.5em;
}

.contacts__input {
    padding: 1.4em 2.4em;
    border-radius: 50px;
    background-color: var(--cream);
}

textarea.contacts__input {
    min-height: 150px;
    border-radius: 25px;
    resize: vertical;
}

.contacts__input:focus-visible {
    outline: 1px solid var(--aqua);
}

@media (max-width: 1024px) {
    .contacts {
        padding: 2em 2em 6em;
    }

    .contacts__info {
        flex-direction: column;
        gap: 3em;
    }

    .contacts__title,
    .contacts__details {
        width: 100%;
    }

    .contacts__newsletter {
        flex-direction: column;
        padding: 2em;
    }

    .contacts__image,
    .contacts__form {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .contacts__form-title {
        font-size: 1.2em;
    }
}
