@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("./preflight.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./about-us.css");
@import url("./work.css");
@import url("./mission.css");
@import url("./support.css");
@import url("./contacts.css");

:root {
    --primary: #7ae5fd;
    --aqua: #73a6b1;
    --sky: #f1fdff;
    --cream: #f9fadf;

    --header-height: 145px;
}

html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
}

.btn {
    text-transform: uppercase;
    padding: 1.4em 2.4em;
    border-radius: 5em;
    background-color: white;
}

.btn-blue {
    background-color: var(--primary);
}
