.mission {
    padding: 22vw 5em 12em 5em;
}

.mission_container {
    display: flex;
    position: relative;
    padding: 5em 3.5em;
    background-color: #f1fdff;
}

.mission_title {
    font-size: 1.5em;
    width: 50%;
}

.mission_image {
    position: absolute;
    bottom: 0;
    right: -40px;
    width: 55%;
}

@media (max-width: 1024px) {
    .mission {
        padding: 160px 3em 8em 3em;
    }
}

@media (max-width: 768px) {
    .mission {
        padding: 80px 1.5em 4em 1.5em;
    }

    .mission_container {
        flex-direction: column;
        padding: 2em;
    }

    .mission_title {
        width: 100%;
        text-align: center;
    }

    .mission_image {
        position: relative;
        right: 0;
        width: 100%;
        margin-top: 2em;
    }
}
